<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>NER</title>
        <link rel="icon" href="{{ url_for('static', filename='cube-3d.png') }}" type="image/x-icon"/>
    </head>
    <body style="text-align: center; background-color: beige;">
        
        <h1>Named Entity Recognition (NER)</h1>
        <form action="/perform_ner" method="post">
            <br>
            <label>Type Your Text Here</label> <br> <br>
            <textarea name="ner_text" rows="10" cols="50"></textarea> <br> <br>
            <input type="submit" value="Perform NER">
        </form>
    
        {% if response %}
            <h2>NER Results:</h2>
            <div style="text-align: left; display: inline-block;">
                <ul>
                    {% if response.get('error') %}
                        <li><strong>Error:</strong> {{ response.error }}</li>
                    {% elif response.get('entities') %}
                        {% for entity in response.entities %}
                            <li><strong>{{ entity.get('label', 'N/A') }}:</strong> {{ entity.get('text', 'N/A') }}</li>
                        {% endfor %}
                    {% else %}
                        <li>No entities detected.</li>
                    {% endif %}
                </ul>
            </div>
        {% endif %}

    </body>
</html>