<!DOCTYPE html>
<html lang="en">
    
    <head>
        <meta charset="UTF-8">
        <title>Profile</title>
        <link rel="icon" href="{{ url_for('static', filename='cube-3d.png') }}" type="image/x-icon"/>

    </head>

    <body style="text-align: center; background-color: beige;">
    
        <p>What would you like to do?</p>
        <ul type="square" style="display: inline-block; text-align: left;">

            <li> <a href="/ner" style="text-decoration: none;">Named Entity Recognition</a> </li>
            <li> <a href="/sentiment" style="text-decoration: none;">Sentiment Analysis</a> </li>
            <li> <a href="/abuse" style="text-decoration: none;">Abuse IP Check</a> </li>

        </ul>
    
    </body>

</html>